<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inventory" href="/inventory">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-item" href="/add-item">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="update-delete" href="/update-delete">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="privacy-security" href="/privacy-security">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>Security</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
